<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.script.mapper.ScriptGameMapper">

	<resultMap type="ScriptGame" id="ScriptGameResult">
		<id     property="id"            column="id"           />
		<result property="title"         column="title"        />
		<result property="delFlag"       column="del_flag"     />
		<result property="createDept"    column="create_dept"  />
		<result property="createBy"      column="create_by"    />
		<result property="createTime"    column="create_time"  />
		<result property="updateBy"      column="update_by"    />
		<result property="updateTime"    column="update_time"  />
		<result property="remark"        column="remark"       />
	</resultMap>
	
	<sql id="selectScriptGameVo">
        select id, title, del_flag, create_dept, create_by, create_time, update_by, update_time, remark 
		from script_game
    </sql>
	
	<select id="selectScriptGameList" parameterType="ScriptGame" resultMap="ScriptGameResult">
	    <include refid="selectScriptGameVo"/>
		<where>
		    del_flag = '0'
			<if test="title != null and title != ''">
				AND title like concat('%', #{title}, '%')
			</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
		</where>
		order by create_time desc
	</select>
	
	<select id="selectScriptGameAll" resultMap="ScriptGameResult">
		<include refid="selectScriptGameVo"/>
		where del_flag = '0'
		order by create_time desc
	</select>
	
	<select id="selectScriptGameById" parameterType="Long" resultMap="ScriptGameResult">
		<include refid="selectScriptGameVo"/>
		where id = #{id}
	</select>
	
	<select id="checkTitleUnique" parameterType="String" resultMap="ScriptGameResult">
		<include refid="selectScriptGameVo"/>
		where title = #{title} and del_flag = '0' limit 1
	</select>
	
	<update id="updateScriptGame" parameterType="ScriptGame">
 		update script_game
 		<set>
 			<if test="title != null and title != ''">title = #{title},</if>
 			<if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
 			<if test="remark != null">remark = #{remark},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate()
 		</set>
 		where id = #{id}
	</update>
 	
 	<insert id="insertScriptGame" parameterType="ScriptGame" useGeneratedKeys="true" keyProperty="id">
 		insert into script_game(
 			<if test="id != null and id != 0">id,</if>
 			<if test="title != null and title != ''">title,</if>
 			<if test="delFlag != null and delFlag != ''">del_flag,</if>
 			<if test="createDept != null">create_dept,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
 		)values(
 			<if test="id != null and id != 0">#{id},</if>
 			<if test="title != null and title != ''">#{title},</if>
 			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
 			<if test="createDept != null">#{createDept},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
 		)
	</insert>
	
	<update id="deleteScriptGameById" parameterType="Long">
		update script_game set del_flag = '1' where id = #{id}
	</update>
	
	<update id="deleteScriptGameByIds" parameterType="Long">
 		update script_game set del_flag = '1' where id in
 		<foreach collection="array" item="id" open="(" separator="," close=")">
 			#{id}
        </foreach> 
 	</update>

</mapper>